<mat-card>
    <mat-card-title> Preencha os dados abaixo apra prosseguir com o Aceite de Proposta Comercial na data: {{dataHoje | date : 'dd/mm/yyyy'}}</mat-card-title>
    <br>
    <mat-card-subtitle>
        <h3><strong>Empresa:</strong></h3>
            Razão Social do Cliente da Proposta Comercial
    </mat-card-subtitle>
    <mat-card-subtitle>
        <h3><strong>CNPJ Empresa:</strong></h3>
            CNPJ14 do Cliente da Proposta Comercial
    </mat-card-subtitle>
    <br>
    <form>
        <mat-form-field>
            <input color='#000' matInput placeholder="Nome Responsável" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cargo" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Telefone" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CPF"  name="price">
        </mat-form-field>
    </form>
    <button mat-raised-button class="btn-confirmar">Confirmar</button>
    <button mat-raised-button >Sair</button>
</mat-card>

